.container{
    width: 100%;
  
}
.title{
    background-color:#427CAC;
    color: #fff;
    text-align: center;
    padding:20px;
    font-size: small;    
}
.cards-container{
    text-align: center;
}

@media screen and (min-width: 768px){

    .cards-container{
        display:flex;
        flex-wrap: wrap;
        
    }
}
