.container {
    background: #427CAC;
}

.card-wrapper {
    margin: auto;
    width: 80%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 25px;
}

.title {
    text-align: center;
    padding: 20px;
    font-size: small;
}

.card-client {
    width: 140px;
    height: 140px;
    margin: 5px;
    border-radius: 70px;
    display: flex;
    align-items: center;
   
}
#bumeran-img{
    width: 100% !important;
    height: 100% !important;
}
.card-client img {
  object-fit:contain;
  width:70%;
  height: 70%;
  margin: auto;
}

/*
* Mobile First
*/

@media screen and (min-width: 768px) {

    .card-wrapper {
        width: 90%;
        margin: auto;
    }

    .card-client {
        border-radius: 70%;
        margin: 10px;
        height: 140px !important;
        width: 140px !important;
    }

    .card-client img {
        max-width: 120px;
        padding: 10px;
    }
}

@media screen and (min-width: 992px) {
  

    .card-client {
        width: 200px !important;
        height: 200px !important;
        border-radius: 98%;
    }

    .card-client img {
        max-width: 180px;
        padding: 10px;
    }
}