.nav{
    background: transparent;
    height: 80px;
    margin-top: -80px;
    position: sticky;
    z-index: 5;
    top:0px;
}
.scroll{
    background:#427CAC;
}
.navbar {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar-logo {
    display: flex;
    align-items: center;
    width: 150px;
}

.navbar-logosap {
    width: 80px;
}

.navbar-menu {
    display: none
}

.navbar-menu-open {
    position: absolute;
    align-items: center;
    top: 80px;
    left: 0;
    color: #91C8F6;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
    background-color: orange;
}

.navbar-menu-open a {
    padding: 20px;
    font-size: 30px
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;


}


@media screen and (min-width: 768px) {
    .navbar {
        margin: auto;
        max-width: 1200px;
        justify-content: space-between;
    }

    .navbar-menu {
        color: #fff;
        display: flex;
        font-size: 15px;
       
    }
    .navbar-menu a {
        color: #fff;
        cursor: pointer;
        margin-right: 20px;
        text-decoration: none;
    }
    .navbar-menu-open {
        display: none;
    }

    .navbar-menu a:hover {
        color: orange
    }

    .mobile-menu {
        display: none;
    }
}