.container-footer {
    padding-top: 30px;
    width: 100%;
    background-color: #427CAC;
    height: 200px;
}

.footer {
    margin: auto;
    width: 80%;
    text-align: center;
    color: #fff;
}

.footer-logo {
    width: 150px;
    margin: auto;
}

.footer-menu a {
    color :#ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

.icons-media {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.icons-media a {
    margin-right: 4px;
    font-size: 30px;
    color: #fff;
}
