.banner {
    color: #fff;
    width: 100%;
    height: 650px;
    background-image: url('../../images/banner.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-p {
    margin: auto;
    font-size: 1.2rem;
    text-align: left;
    width: 90%;
}

.banner-icons {
    font-size: 1rem;

}

.banner-icons a {
    margin-right: 4px;
    color: #427CAC
}

.banner-icons a:hover {
    color: orange;
}

@media screen and (min-width: 768px) {
    .banner{
        height: 700px;
    }
    .banner-p{
        font-size: 20px;
        width: 60%;
    }
    .banner-icons {
        font-size: 2rem;
    }
}